name: Greetings

on: [pull_request, issues]

jobs:
  greeting:
    runs-on: ubuntu-latest
    permissions:
      issues: write
      pull-requests: write
    steps:
    - uses: actions/first-interaction@v1
      with:
        repo-token: ${{ secrets.GITHUB_TOKEN }}
        issue-message: 'Hi thanks for creating your first issue at Daily-Coding-DS-ALGO-Practice, hope you followed the guideline.'
        pr-message: 'Congratulations!! for making your first PR at Daily-Coding-DS-ALGO-Practice, our mentors will review it soon.'
